* {     
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp12314145.jpg);
    width: 100%;
    background-size: cover;
}

h1 {
    width: 800px;
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: red;
    background-color: #ffff00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    word-spacing: 5px;
}

.hover-container {
    width: 250px;
    height: 390px;
    margin: 20px 17px;
    background-color: rgba(255, 0, 0, .8);
    display: inline-block;
    justify-content: space-between;
}

.trigger-letter {
    color: #ff0;
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.hidden-paragraph {
    color: yellow;
    text-align: center;
}


.hidden-paragraph {
  display: none; /* Hide the paragraph by default */
  /* Or use opacity: 0; for a fade-in effect */
}

.hover-container:hover .hidden-paragraph {
  display: block; /* Show the paragraph when the container is hovered */
  /* Or use opacity: 1; for a fade-in effect */
}